{% extends "block-base.twig" %}

{% block content %}

    {% if fields.text %}
    <div class="typo">{{ fields.text }}</div>
    {% endif %}

{% endblock %}

{% block wrapper_tag_params %}
    style="background-color: {{ fields.wrapper_background }};"
{% endblock %}

{% block inner_tag_params %}
    style="background-color: {{ fields.inner_background }}; color: {{ fields.inner_text }};"
{% endblock %}
