<table>
    <tr>
        <td>{{ __('Recipient', TEXTDOMAIN) }}</td>
        <td>{{ recipient }}</td>
    </tr>
    <tr>
        <td>{{ __('Log ID', TEXTDOMAIN) }}</td>
        <td>{{ log_id }}</td>
    </tr>
</table>
