@import "../../mixins";

.main-first-screen{
    padding: 20px;

    .customBlock{
        margin: 0 auto;
        padding: 20px;
        max-width: 1024px;

        picture{
            display: block;
            font-size: 0;
            padding-top: 8px;
        }

        img{
            max-width: 100%;
            height: auto;
        }

        //&:after{
        //  font-size: 80px;
        //  display: block;
        //  content: 'desktop';
        //}

        //@media (max-width: 780px) {
        //  &:after{
        //    content: 'tablet';
        //  }
        //}

        //@media (max-width: 360px) {
        //  &:after{
        //    content: 'mobile';
        //  }
        //}
    }
}
