{% extends "base-clean.twig" %}

{% block content %}

    <p class="code">404</p>
    <p class="message">Page Not Found</p>
    <p class="description">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <a href="{{ site.url }}" class="btn btn-primary">Go to Homepage</a>

{% endblock %}