/* fonts
-------------------------------------------------------------- */

:root{
    --main-background-color: #141414;
    --main-background-color-rgb: 20, 20, 20;

    --main-background-color-light: #F0F0F0;

    --main-text-color: #F4F4F4;
    --main-text-color-rgb: 244, 244, 244;

    --accent-color: #B12020;
    --accent-color-rgb: 177, 32, 32;

    --accent-color-secondary: #E73718;
    --accent-color-secondary-rgb: 231, 35, 24;

    --accent-color-tertiary: #F32D2D;
    --accent-color-tertiary-rgb: 243, 45, 45;

    --link-color: #3B75F1;
    --link-color-rgb: 59, 117, 241;

    --max-width: 1240px;
    --max-width-secondary: 1128px;
    --top-padding-desctop: 71px;
    --top-padding-mobile: 82px;
}
